
body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
        @media (max-width:1200px) and (min-width:768px) {
        background-color: #E3E3E3;
    }
}

#main {
    height: fit-content;
    width: 90%;
    margin: 10px;
    padding: 0px;
    background-color: #FAFAFA;
    text-align: center;   
}

#main h1 {
    padding: 10px;
    font-size: 50px;
    width: fit-content;
    margin-left: 9%;
     
}
#main p {
    margin-top: -20px;
    font-size: 17px;
}
#title{
    font-size: 42px;
}


img {
    margin: 15px;
    height: auto;
    width: 80%;
}
#img-div {
    margin: 10px;
    padding: 10px;
    border-radius: 24px;
    background-color: #C4C1E0;
}

#img-caption {
    margin: 10px;
    
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
}

#info2 {
    padding: 10px;
    border-radius: 24px;
    max-width: fit-content;
    margin: 10px;
    line-height: 1.6;
    background-color:#C4C1E0 ;
}

#info2 p{
    text-align: left;
}
#quotes {
    padding: 10px;
    margin: 10px;
    border-radius: 24px;
    background-color:#FAFAFA ;
}